h1{
    text-align: center;
    color: black;
}


form{
    display: flex;
    justify-content: center;
}

div{
    border: 1px solid;
    border-radius: 5px;
    width: 30%;
    padding: 16px;
    margin-right: 10px;
    margin-left: 10px;

}

label{
    color: black;
    font-weight: bold;
    font-size: 16px;

}

input[type=email],[type=text],[type=password]{
    margin-top:10px;
    margin-bottom: 10px;
    padding: 12px 20px; 
    width: 87%;
    border-radius: 5px;
    border: 1px solid;
    border-color: #D8D1D0;
}


button{
    color: black;
    font-weight: bold;
    border: 1px solid;
    border-radius: 3px;
    width:40%;
    padding: 12px 20px;
    cursor:pointer;

}

.aceptar{
    margin-top: 10px;
    margin-right: 25px;
    margin-left: 20px;
    background-color: #14FA05;
    border-color: #14FA05;

}

.aceptar:hover{
    border-color: #13DA06;
    background-color: #13DA06; 
}

.cancelar{
    margin-top: 10px;
    border-color: #FA2A05;
    background-color: #FA2A05;
}

.cancelar:hover{
    border-color: #D62708;
    background-color: #D62708;
}