<h1>Recuperar Cuenta</h1>

<form>

    <div *ngIf=divPrimero>
        <h1>Paso 1</h1>
        <label>Email</label><br>
        <input type="email" name="email" #email maxlength="50" placeholder="Ejemplo@gmail.com" required="Debe ingresar un email"><br>
        <button class="aceptar" type="submit" (click)="apretarAceptarDivPrimero(email.value)">Aceptar</button>
        <button class="cancelar" (click)="apretarCancelarDivPrimero()">Cancelar</button>

    </div>
</form>
<form>
    <div *ngIf=divSegundo>
        <h1>Paso 2</h1>
        <label>C&oacute;digo de verificicaci&oacute;n</label><br>
        <input type="text" name="codigoVerificacion" #codigo maxlength="10" placeholder="Ingrese c&oacute;digo" required="Debe ingresar un c&oacute;digo"><br>
        <button class="aceptar" type="submit" (click)="apretarAceptarDivSegundo(codigo.value)">Aceptar</button>
        <button class="cancelar" (click)="apretarCancelarDivSegundo()">Cancelar</button>
    </div>
</form>
<form>
    <div *ngIf=divTercero>
        <h1>Paso 3</h1>
        <label>Contrase&ntilde;a</label><br>
        <input type="password" name="password" #pass1 maxlength="20" placeholder="Ingrese contrase&ntilde;a" required="Debe ingresar una contrase&ntilde;a"><br>
        <label>Repetir Contrase&ntilde;a</label><br>
        <input type="password" name="repepassword"  #pass2 maxlength="20" placeholder="Ingrese contrase&ntilde;a" required="Debe ingresar una contrase&ntilde;a"><br>
        <button class="aceptar" type="submit" (click)="apretarReestablecerDivTercero(pass1.value,pass2.value)">Reestablecer</button>
        <button class="cancelar" (click)="apretarCancelarDivTercero()">Volver</button>

    </div>
</form>