<h1>Registrar Usuario</h1>

<form>

    <div>

        <label>Nombre</label><br>
        <input type="text" name="nombre"  maxlength="20" placeholder="Ingrese Nombre"><br>

        <label>Apellido</label><br>
        <input type="text" name="apellido" maxlength="20" placeholder="Ingrese Apellido"><br>

        <label>DNI</label><br>
        <input type="text" name="dni"  required pattern="[0-9]" title="S&oacute;lo debe ingresar n&uacute;meros" maxlength="8" placeholder="Ingrese DNI"><br>

        <label>Direcci&oacute;n</label><br>
        <input type="text" name="direccion" maxlength="50" placeholder="Ingrese Direcci&oacute;n"><br>
        
        <label>Email</label><br>
        <input type="text" name="email" #email maxlength="40" placeholder="Ingrese Email"><br>

        <label>Usuario</label><br>
        <input type="text" name="usuario" #usuario maxlength="20" placeholder="Ingrese Usuario"><br>

        <label>Contrase&ntilde;a</label><br>
        <input type="password" name="password" #contrasenia  maxlength="20" placeholder="***********"><br>

        <label>Repetir Contrase&ntilde;a</label><br>
        <input type="password" name="repepassword"   maxlength="20" placeholder="***********"><br>

        <button class="registrar" (click)="apretarRegistrar(usuario.value,contrasenia.value,email.value)">Registrar</button>
        <button class="cancelar" (click)="apretarCancelar()">Cancelar</button>

    </div>

</form>
<div *ngIf="usuarioRegistrado">
<h1>Usuario Creado</h1>
<label>{{usuarioRegistrado.usuario}}</label>
<label>{{usuarioRegistrado.contrasenia}}</label>
<label>{{usuarioRegistrado.email}}</label>
</div>