h1{
    text-align: center;
    margin-top:10px;
    margin-bottom: 20px;
}
ul {
    list-style-type: none;
    overflow: hidden;
    margin:0px;
    background-color: #DFDCDC;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #CBC9C9;
}

.menuDerecho{
    float: right;
    
}
.inicio{
    margin:10px;
    width: 100%;
}


#left, #right { 
    margin: 30px;
}
#footer{
    background-color:black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#footerp{
    color:white;
    padding: 10px; 
    
}