<div class="row">
    <div class=col-lg-5>
        <h3>Usuario StakeHolder</h3>
        <table>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Eliminar</th>
            </tr>
            <tr *ngFor="let stakeFinca of stakesFinca">
                <td>{{stakeFinca.nombre}}</td>
                <td>{{stakeFinca.apellido}}</td>
                <td>{{stakeFinca.email}}</td>
                <td>
                    <!--<img src="../../../assets/visualizar.png" [routerLink]="['/homeFincaDetalle']" />-->
                    <img src="../../../assets/delete.png" />
                </td>
            </tr>

        </table>

    </div>
</div>