<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>proyectoRIego2017.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A1B9D44F1F6C7547004930F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1B9D46B1F6C7547004930F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1B9D4761F6C7547004930F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
