<body>
    
        <ul>
          <li><a href="#inicio">Logo</a></li>
           <li class="menuDerecho"> <a href="#ingresar">Salir</a></li>
            <li class="menuDerecho"> <a href="#perfil">Perfil</a></li>

        </ul>
        
        <div>
            <h3>Finca con Rol Encargado</h3>
            <table>
                <tr>
                    <th>Nombre</th>
                    <th>Tama&ntilde;o</th>
                    <th>Ubicaci&oacute;n</th>
                </tr>
                <tr>
                    <td>Finca 1</td>
                    <td>10000 metros cuadrados</td>
                    <td>Paso de Los Andes 1000</td>
                </tr>
                <tr>
                    <td>Finca 2</td>
                    <td>5000 metros cuadrados</td>
                    <td>Liniers 520</td>
                </tr>
                <tr>
                    <td>Finca 3</td>
                    <td>1000 metros cuadrados</td>
                    <td>Reconquista 250</td>
                </tr>
                <tr>
                    <td>Finca 4</td>
                    <td>200 metros cuadrados</td>
                    <td>Paso de Los Andes 120</td>
                </tr>
            </table>
        </div>

        <button class=crear>Crear Finca</button>
        
        <div>
            <h3>Finca con otro Rol</h3>
            <label>Rol: </label>
            <select>
                <option>StakeHolder</option>
                <option>Rol 1</option>
                <option>Rol 2</option>	
            </select>
            
            <table>
                <tr>
                    <th>Nombre</th>
                    <th>Tama&ntilde;o</th>
                    <th>Ubicaci&oacute;n</th>
                </tr>
                <tr>
                    <td>Finca 1</td>
                    <td>10000 metros cuadrados</td>
                    <td>Paso de Los Andes 1000</td>
                </tr>
                <tr>
                    <td>Finca 2</td>
                    <td>5000 metros cuadrados</td>
                    <td>Liniers 520</td>
                </tr>
                <tr>
                    <td>Finca 3</td>
                    <td>1000 metros cuadrados</td>
                    <td>Reconquista 250</td>
                </tr>
                <tr>
                    <td>Finca 4</td>
                    <td>200 metros cuadrados</td>
                    <td>Paso de Los Andes 120</td>
                </tr>
            </table>
        </div>



</body>

